<app-menu />

<h1 class="text-center mb-4 mt-3 text-primary">Dashboard da Ford</h1>

<section class="d-flex gap-5 justify-content-center">
    <div class="card text-bg-primary mb-3 p-2" style="max-width: 18rem;">
        <div class="card-header"><h5 class="card-title">Veiculos</h5></div>
        <select class="form-select form-select-sm" aria-label="Small select example" (change)="onChangeSelect($event)">
            @for (v of veiculos; track v.id) {
                <option value="{{ v.id }}">{{ v.vehicle }}</option>
            }
        </select>
    </div>

    <app-card [titulo]="'Total de Vendas'" [valor]="veiculoSelecionado.volumetotal"/>
    <app-card [titulo]="'Conectados'" [valor]="veiculoSelecionado.connected"/>
    <app-card [titulo]="'Upd. Software'" [valor]="veiculoSelecionado.softwareUpdates"/>
</section>

<section class="mt-3 text-center">
    <img class="img-fluid" src="{{ veiculoSelecionado.img }}" alt="Imagem do Veiculo Selecionado">
</section>

<section *ngIf="vinPronto">
    <app-car-table 
    [vin]="veiculoSelecionado.vin" 
    [lat]="vinInfos.lat" 
    [long]="vinInfos.long" 
    [odometro]="vinInfos.odometro" 
    [nivelCombustivel]="vinInfos.nivelCombustivel" 
    [status]="vinInfos.status" />
</section>

