.login-background {
  height: 100vh;
  width: 100%;
  background-image: url('/ford-background-login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

